.snap {
    padding-top: 30px;
    background-image: url('../images/snapline.png');
    background-position: right top;
    background-repeat: no-repeat;
}

code ul li {
    font-size: 85%;
}

dt {
    float: left;
    display: block;
    font-weight: bold;
    margin-right: .5em;
}

.scrollingy300 {
	height: 160px;
	width: 300px;
	overflow: scroll;
}

.scrollingx300 {
	height: 160px;
	width: 300px;
	overflow-y: hidden;
	overflow-x: scroll;
    white-space: nowrap;
}

.scrollingx300 {
	height: 160px;
	width: 300px;
	overflow-y: hidden;
	overflow-x: scroll;
    white-space: nowrap;
}

.iframe300 {
	height: 160px;
	width: 300px;
}

.w1500 {
    width: 1500px;
    white-space: nowrap;
}

@media only screen and (max-device-width: 1481px) {
    h1 {
        margin-top: 60px;
        font-size: 45px;
    }
}
